<h1>Bienvenue sur ProStage<h1>
<p>Vous trouverez ci-dessous les dernieres ressources</p>
<ul>
    <li>
        <a href="{{path('prostage_ressource',{idStage:5})}}">Exo 1 - TP3 - M1102</a>
    </li>
    <li>
        <a href="{{path('prostage_formations')}}">Formations</a>
    </li>
    <li>
        <a href="{{path('prostage_liste_entreprises')}}">Entreprises</a>
    </li>
</ul>
